:root {
    --primary: rgb(209, 12, 62);
    --dark: rgb(0, 0, 0);
    --light: #fff;
    --shadow: 0 1px 5px rgba(176, 252, 245, 0.8);
    }
    
    html {
      
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: var(--dark);
    }
    .body_on{
      background-color: var(--dark);
      padding: initial;
      shape-margin: initial;
      padding: 2px;
      
    }
  
    .head{
      background-image: url(../images/covid_background.jpg);
      
    }
  
    .logo{
      margin: 1ex;
  
    }
    .title{
      text-align: center;
      padding: 2px;
      font-size: 90px;
      font-variant-position: normal;
      color: beige;
      text-shadow: var(--primary);
      
      
    }
  
    .body {
      background-color: var(--dark);
      margin: 40px 80px;
      line-height: 1.4;
    }
  
   
  
    
    .btn {
      background: var(--dark);
      color: var(--light);
      padding: 0.6rem 1.3rem;
      text-decoration: none;
      border: 0;
    }
    
  
    
    .wrapper {
      display: grid;
      grid-gap: 20px;
    }
  
    
    .main-nav ul {
      display: grid;
      grid-gap: 10px;
      padding: 10;
      list-style: none;
      grid-template-columns: repeat(4, 1fr);
      margin: 1px;
      
      justify-content: start;
      
      
    }
    
    .main-nav a {
      background: var(--primary);
      display: block;
      text-decoration: none;
      padding: 0.5rem;
      text-align: center;
      color: var(--dark);
      text-transform: uppercase;
      font-size: 1.1rem;
      box-shadow: var(--shadow);
      border-radius: 20px;
      justify-content: center;
    }
    .titleText{
      color: aliceblue;
      text-align: center;
    }
    .main-nav a:hover {
      background: var(--dark);
      color: var(--light);
      margin-top: initial;
    }
    .body{
        background-color: var(--primary);
        padding: initial;
        shape-margin: initial;
        padding: 2px;
    }
        
    
   .profileImg{
       text-align: center;
       width: 200px;
       height: 200px;
       border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: medium;
        border-color: rgb(252, 235, 213);
       
   }
   .boxes {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(70px, 4fr));
    border-radius: 15px;
    flex-direction: column-reverse;
  }
  
  .box {
    background: var(--dark);
    text-align: center;
    padding: 10rem 40rem;
    margin-top: 3rem;
   
  }
  .box1{
    background-color: var(--dark);
    text-align: center;
    background-size: auto;
    padding: 1.0rem 4rem;
    margin-top: 3rem;
    min-height: 50px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
  }

  .imgRedes{
      width: 60px;
      height: 60px;
      flex-direction: column;
      padding: 2px;
      border-radius: 30%;

  }
  .imgRedes button{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);
  }
  .redesSociais{
    color: antiquewhite;
    padding: 10px;
    text-align: justify;
  }

  footer {
    margin-top: 1rem;
    background-color: var(--primary);
    color: var(--light);
    text-align: left;
    padding: 1rem;
    font-size:18px;
    color: aliceblue;
  }
  .a{
    color: aliceblue;

  }

